/* medium desktop :992px */
@media (min-width: 992px) and (max-width:1200px){
    .single-slider {
        height: 480px;
    }
    .main-menu ul li {
        margin-left: 35px;
    }
    .features-area {
        margin-top: 0px;
        padding-top: 100px;
    }
    .slider-inner h2 {
        font-size: 40px;
    }
    .about-image img {
        width: 100%;
    }
}
/* tablet desktop :768px */
@media (min-width: 768px) and (max-width: 991px){
    .container{
        width: 970px;
    }
}
/* small mobile :320px */
@media (max-width: 767px){
    .container{
        width: 300px;
    }
}
/* tablet desktop :768px */
@media only screen and (min-width: 480px) and (max-width: 767px){

}